# Feature Engineering

Feature engineering is the process of selecting and transforming variables (features) in a dataset to improve the performance of a machine learning model. The goal of feature engineering is to create features that are relevant, informative, and non-redundant, and that capture the key relationships between variables in the dataset.


<b> Objective :</b>
- Encode categorical data
- Perform Feature selection

In [4]:
# importing necessary libraries
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('Dataset/Data_Cleaned.csv')

In [6]:
data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-12-02,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106

In [7]:
data['Date'] = pd.to_datetime(data['Date'])

In [8]:
data['year'] = data['Date'].dt.year
data['month'] = data['Date'].dt.month
data['day'] = data['Date'].dt.day

In [9]:
# We can remove the date data now because it will not be giving us any important information about the prediction
data.drop(['Date'],axis=1,inplace=True)

In [10]:
data.head()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,year,month,day
0,1,1643690.90,0,42.31,2.572,211.096358,8.106,2010,5,2
1,1,1641957.44,1,38.51,2.548,211.242170,8.106,2010,12,2
2,1,1611968.17,0,39.93,2.514,211.289143,8.106,2010,2,19
3,1,1409727.59,0,46.63,2.561,211.319643,8.106,2010,2,26
4,1,1554806.68,0,46.50,2.625,211.350143,8.106,2010,5,3

In [11]:
# Saving the dataset

data.to_csv('Dataset/Processed.csv')